/* CSS for contact form */
form {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 40px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    font-size: 16px;
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  input[type="submit"] {
    background-color: #1abc9c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  input[type="submit"]:hover {
    background-color: #16a085;
  }
  
  /* CSS for contact information */
  .contact-details {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .contact-details li {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  .contact-details i {
    margin-right: 10px;
    color: #1abc9c;
    font-size: 20px;
  }
  
  #contact-map {
    height: 300px;
    background-color: #f7f7f7;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  }
  message.style {
    height: 208px;
    width: 456px;
}