/*Color*/
/*---Reset*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
* {
    box-sizing: border-box; }
  
  body, html {
    padding: 0px;
    font-size: 14px;
    margin: 0px;
    font-family: 'Roboto', sans-serif; }
    .containers{
      max-width: 1068px;
      margin: auto;
      width: 100%;
    }
    .home{
      width: 100%;
      min-height:440px;
      background: #1a1e21;
      display: grid;
      justify-content: center;
      align-items: center; 
     }
    .home-text{
      color: #fff;
      text-align: center;
    }
    .home-title{
      font-size: 3.5rem;
    
    }
    .home-subtitle{
     font-size: 1rem;
     font-weight: 400;   
    }
  /* .box-cards-blog {
    max-width: 1000px;
    margin: auto;
    padding: 20px 40px; }
  
  .card {
    margin-bottom: 20px;
    display: flex;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    border-radius: 20px; }
    .card:hover {
      transition: box-shadow 0.3s ease;
      box-shadow: 0px 24px 64px rgba(0, 0, 0, 0.04); }
    .card-image {
      width: 30%; }
      .card-image img {
        width: 100%; */
       
/*         
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px; } */
/*     
    .card-meta {
      width: 70%;
      padding: 1rem;
      flex: 1;
      margin-left: 1rem; }
    .card-title {
      font-family: 'DM Serif Display', serif;
      font-size: 2rem;
      margin: 0px;
      margin-bottom: 1rem; }
      .card-title>a{
           display: block;
           color: #081F32;
           text-decoration: none; }
            a:hover{
             color: #933ded; 
            }
        
    
     */
    
       .readmore {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: #933ded;
        font-weight: 600;
        transition: transform 0.3s ease; }
        .readmore:hover {
          transition: transform 0.3s ease;
          transform: translateX(-10px); }
        
  
 
  
  
  
  /*Responsive*/
  /* @media (max-width: 991px) {
    .box-cards-blog.-grid {
      display: block; }
      .box-cards-blog.-grid .card {
        width: 100%;
        display: flex; }
        .box-cards-blog.-grid .card .card-image {
          width: 200px; }
        .box-cards-blog.-grid .card .card-meta {
          margin-left: 20px;
          margin-top: 0px; } }
  
  @media (max-width: 768px) {
    .box-cards-blog {
      padding: 20px; }
    .card {
      display: block; }
    .card .card-image {
      width: 100%; }
      .card .card-image img {
        border-radius: 20px; }
    .card .card-meta {
      width: 100%;
      margin-left: 0px; }
    .box-cards-blog.-grid .card {
      display: block; }
      .box-cards-blog.-grid .card .card-image {
        width: 100%; }
      .box-cards-blog.-grid .card .card-meta {
        margin-left: 0px;
        margin-top: 1rem; } } */
